.tile {
    display: flex;
}

.tile.img-right {
    flex-direction: row-reverse;
}

    
.tile.img-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 160px;
    height: 120px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}