.Skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-start; */
    font-size: 60px;
    color: white;
    background-color: black;
    min-height: 100vh;

}
.skillIcon{
    font-size: 30px;
    /* color: white; */
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 600px) {
    .Skills {
        font-size: 2rem;
    }
    .skillIcon{
        font-size: 20px;
    }
}
.skills-container {
    padding: 20px;
    color: white;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .skills-container {
      padding: 10px;
    }
  
    .skills-list li {
      font-size: 0.9rem;
    }
  }
  