/* NavBar.css */

header {
    position: sticky;
    top: 0;
  }
  
  nav {
    height: 100%;
    width: 100%;
  }
  
  .NavBar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #333; /* Add a background color to make it stand out */
    width: 100%; /* Make it span the full width of the page */
    z-index: 1000; /* Ensure it stays above other content */
    height: 80px;
  }
  
  .NavItem {
    margin: 0 15px;
  }
  
  .NavItem a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    font-size: 2em;
  }
  
  .NavItem a::after {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    transition: width 0.5s ease;
  }
  
  .NavItem a:hover::after,
  .NavItem.active a::after{
    width: 50%;  /* Change width to a larger value on hover */
  }
  
  .NavItem.active a::after {
    width: 100%;  /* Change width to 100% on click */
  }
  
  /* Media query for smaller screens (mobile) */
  @media (max-width: 610px) {
    .NavItem {
      font-size: smaller;
      flex-shrink: 2;
    }
  
    .NavItem a {
      font-size: 1em; /* Adjust font size */
    }
  }
  