.App {
  text-align: center;
  background-color: black;
  font-family: 'Arial', sans-serif; /* Add a professional font */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: aliceblue;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.text {
  color: white;
  font-size: 20px;
}

.AboutUl {
  list-style-type: none;
  text-align: left;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.AboutUl li {
  margin-bottom: 10px; /* Add spacing between list items */
}

.ytLink {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.yt {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  margin-left: 10px; /* Add spacing between the text and the icon */
}

.yt:hover {
  color: rgb(255, 0, 0);
}

@media (max-width: 600px) {
  .App-header {
    font-size: 2em;
    height: 100vh;
    width: 100vw;
  }
}
